In [39]:
import pandas as pd
df=pd.read_csv('project_data.csv',sep=';')

C:\Users\Jahongir\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (902,921) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [40]:
df=df[['Worker','Q501','Educ_3categ_from201','Q102','UrbanRural','ageYr','Q702','Q803','fjobexist','ageeducleft','fmarrlegYYYY','childexist','agelefthome','educToWork','HaveBeenAbroad']]

In [41]:
df

,Worker,Q501,Educ_3categ_from201,Q102,UrbanRural,ageYr,Q702,Q803,fjobexist,ageeducleft,fmarrlegYYYY,childexist,agelefthome,educToWork,HaveBeenAbroad
0,2,3,3,2,1,24,99,1,0,"18,5",2011,1,"18,5833339691162",,2
1,1,3,1,2,1,29,99,1,1,"18,5833339691162",2011,1,"23,4166660308838",15,2
2,2,3,1,2,1,24,99,2,0,"17,1666660308838",2013,1,"21,6666660308838",,2
3,2,1,3,2,1,28,99,1,1,"23,3333339691162",,0,,3,2
4,1,3,3,1,1,26,,2,1,"23,1666660308838",2012,1,,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1,1,1,1,2,22,,1,0,18,,0,,,2
1996,1,1,1,1,2,23,,1,1,"17,6666660308838",,0,"17,75",0,3
1997,2,3,1,2,2,23,2,1,1,"15,3333330154419",2014,1,"20,5833339691162",0,2
1998,2,3,1,2,2,27,2,2,0,"17,6666660308838",2007,1,"17,6666660308838",,2
1999,2,1,1,2,2,23,2,2,0,18,,0,,,2

In [42]:
df.dropna(inplace=True,axis=0)

In [43]:
df.rename(columns={'Q702':'wearHijab','Educ_3categ_from201':'edlevel',
                   'Q803':'health','Q102':'Gender'}, inplace=True)

In [44]:
df.isnull().sum()

Worker            0
Q501              0
edlevel           0
Gender            0
UrbanRural        0
ageYr             0
wearHijab         0
health            0
fjobexist         0
ageeducleft       0
fmarrlegYYYY      0
childexist        0
agelefthome       0
educToWork        0
HaveBeenAbroad    0
dtype: int64

In [45]:
df.corr()

,Worker,Q501,edlevel,Gender,UrbanRural,ageYr,health,fjobexist,childexist,HaveBeenAbroad
Worker,1.000000,-0.073569,-0.323764,0.172026,0.056298,-0.247759,0.138029,-0.533739,-0.078068,-0.052510
Q501,-0.073569,1.000000,0.122178,0.158964,-0.014888,0.447059,0.057600,0.044359,0.681221,-0.027302
edlevel,-0.323764,0.122178,1.000000,-0.194398,-0.131578,0.513776,-0.071834,0.346593,0.138983,0.052083
Gender,0.172026,0.158964,-0.194398,1.000000,-0.042977,-0.095354,0.029528,-0.422441,0.149372,0.135158
UrbanRural,0.056298,-0.014888,-0.131578,-0.042977,1.000000,-0.058697,0.065769,-0.048717,-0.028924,-0.034708
ageYr,-0.247759,0.447059,0.513776,-0.095354,-0.058697,1.000000,0.046416,0.279469,0.505490,-0.045511
health,0.138029,0.057600,-0.071834,0.029528,0.065769,0.046416,1.000000,-0.084341,0.035702,0.013206
fjobexist,-0.533739,0.044359,0.346593,-0.422441,-0.048717,0.279469,-0.084341,1.000000,0.022049,-0.122682
childexist,-0.078068,0.681221,0.138983,0.149372,-0.028924,0.505490,0.035702,0.022049,1.000000,-0.001218
HaveBeenAbroad,-0.052510,-0.027302,0.052083,0.135158,-0.034708,-0.045511,0.013206,-0.122682,-0.001218,1.000000

In [46]:
df.at[df['Worker']==1,'isWorker']=1
df.at[df['Worker']==2,'isWorker']=0

In [47]:
y=df['isWorker']

In [48]:
y

0       0.0
1       1.0
2       0.0
3       0.0
4       1.0
       ...
1995    1.0
1996    1.0
1997    0.0
1998    0.0
1999    0.0
Name: isWorker, Length: 2000, dtype: float64

In [49]:
df.at[df['UrbanRural']==1,'Urban']=1
df.at[df['UrbanRural']==2,'Urban']=0

In [50]:
df['married'] = df['Q501'].replace((1,2,3,4,5,6),(0,0,1,0,0,0))
df['married'].value_counts()

1    1326
0     674
Name: married, dtype: int64

In [51]:
df['BeenAbroad'] = df['HaveBeenAbroad'].replace((2, 3),(0,1))
df['BeenAbroad'].value_counts()

0    1535
1     465
Name: BeenAbroad, dtype: int64

In [52]:
df['isFemale'] = df['Gender'].replace((1, 2),(0,1))
df['isFemale'].value_counts()

0    1004
1     996
Name: isFemale, dtype: int64

In [53]:
df['BeenAbroad']

0       0
1       0
2       0
3       0
4       1
       ..
1995    0
1996    1
1997    0
1998    0
1999    0
Name: BeenAbroad, Length: 2000, dtype: int64

In [54]:
df['health'].value_counts()

2    944
1    790
3    241
4     24
5      1
Name: health, dtype: int64

In [55]:
df['healthy'] = df['health'].replace((1,2,3,4,5),(1,1,1,0,0))

df['healthy'].value_counts()

1    1975
0      25
Name: healthy, dtype: int64

In [56]:
education = pd.get_dummies(df["edlevel"], prefix="educlevel", dummy_na=False)
education

      educlevel_1  educlevel_2  educlevel_3
0               0            0            1
1               1            0            0
2               1            0            0
3               0            0            1
4               0            0            1
...           ...          ...          ...
1995            1            0            0
1996            1            0            0
1997            1            0            0
1998            1            0            0
1999            1            0            0

[2000 rows x 3 columns]

In [57]:
df = pd.concat([df, education], axis=1)

In [58]:
df = df.drop(['edlevel'], axis=1)

In [59]:
X=df[['childexist','Urban',
      'isFemale','BeenAbroad',
      'educlevel_1','educlevel_2','educlevel_3',
      'healthy','ageYr','fjobexist','married']]

In [60]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   childexist   2000 non-null   int64
 1   Urban        2000 non-null   float64
 2   isFemale     2000 non-null   int64
 3   BeenAbroad   2000 non-null   int64
 4   educlevel_1  2000 non-null   uint8
 5   educlevel_2  2000 non-null   uint8
 6   educlevel_3  2000 non-null   uint8
 7   healthy      2000 non-null   int64
 8   ageYr        2000 non-null   int64
 9   fjobexist    2000 non-null   int64
 10  married      2000 non-null   int64
dtypes: float64(1), int64(7), uint8(3)
memory usage: 211.0 KB

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [63]:
#Linear Regression

In [64]:
from sklearn.linear_model import LinearRegression

In [65]:
linreg = LinearRegression()

In [66]:
linreg.fit(X_train,y_train)

LinearRegression()

In [67]:
y_pred = linreg.predict(X_test)

In [68]:
r2=linreg.score(X_test,y_test)

In [69]:
import statsmodels.api as sm
model = sm.OLS(y,X)

In [70]:
result=model.fit()

In [71]:
r2=result.rsquared
r2

0.400547523855022

In [72]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               isWorker   R-squared:                       0.401
Model:                            OLS   Adj. R-squared:                  0.398
Method:                 Least Squares   F-statistic:                     132.9
Date:                Thu, 28 Oct 2021   Prob (F-statistic):          1.01e-212
Time:                        16:20:55   Log-Likelihood:                -937.14
No. Observations:                2000   AIC:                             1896.
Df Residuals:                    1989   BIC:                             1958.
Df Model:                          10
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
childexist      0.0115      0.027      0.419      0.675      -0.042       0.065
Urban          -0.0234      0.020     -1.176      0.240      -0.062       0.016
isFemale       -0.0724      0.021     -3.398      0.001      -0.114      -0.031
BeenAbroad     -0.4253      0.025    -16.893      0.000      -0.475      -0.376
educlevel_1    -0.0759      0.104     -0.730      0.466      -0.280       0.128
educlevel_2    -0.0475      0.112     -0.424      0.672      -0.267       0.172
educlevel_3    -0.0212      0.113     -0.187      0.852      -0.243       0.201
healthy         0.0739      0.079      0.942      0.346      -0.080       0.228
ageYr           0.0088      0.003      2.815      0.005       0.003       0.015
fjobexist       0.6388      0.022     28.510      0.000       0.595       0.683
married         0.0058      0.027      0.214      0.830      -0.047       0.059
==============================================================================
Omnibus:                        1.794   Durbin-Watson:                   1.774
Prob(Omnibus):                  0.408   Jarque-Bera (JB):                1.780
Skew:                           0.020   Prob(JB):                        0.411
Kurtosis:                       3.141   Cond. No.                         576.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [73]:
#Logistic Regression

In [74]:
from sklearn.linear_model import LogisticRegression

In [75]:
logreg = LogisticRegression()

In [76]:
logreg.fit(X_train,y_train)

C:\Users\Jahongir\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [77]:
y_pred = logreg.predict(X_test)

In [78]:
logreg.score(X_test,y_test)

0.795

In [79]:
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix

array([[227,  48],
       [ 75, 250]], dtype=int64)

In [80]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.795

In [81]:
#Desicion Tree

In [82]:
from sklearn.tree import DecisionTreeClassifier
model_tree = DecisionTreeClassifier(max_depth=4)
model_tree.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=4)

In [83]:
y_predict = model_tree.predict(X_test)

In [84]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_predict))

0.7916666666666666

In [85]:
#Random Forest

In [86]:
from sklearn.ensemble import RandomForestClassifier

In [87]:
forest = RandomForestClassifier(criterion='gini',
                                 n_estimators=10,
                                 random_state=1,
                                 n_jobs=2)

In [88]:
forest.fit(X_train, y_train)
y_pred = forest.predict(X_test)
print('Accuracy: %.3f' % accuracy_score(y_test, y_pred))

Accuracy: 0.750

In [84]:
#kNN

In [112]:
from sklearn.preprocessing import StandardScaler 
sc = StandardScaler() 
X_train = sc.fit_transform (X_train) 
X_test = sc.transform (X_test)

In [113]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=10)
knn.fit(X_train, y_train)
print(knn.score(X_test, y_test))

0.775

In [114]:
y_pred = knn.predict (X_test)

In [88]:
from sklearn.metrics import confusion_matrix, precision_score 
cm = confusion_matrix (y_test, y_pred) 
print(cm)

[[215  60]
 [ 77 248]]

In [89]:
#SVC

In [90]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='poly', degree=8)
svclassifier.fit(X_train, y_train)

SVC(degree=8, kernel='poly')

In [91]:
y_pred = svclassifier.predict(X_test)

In [92]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[224  51]
 [ 63 262]]
              precision    recall  f1-score   support

         0.0       0.78      0.81      0.80       275
         1.0       0.84      0.81      0.82       325

    accuracy                           0.81       600
   macro avg       0.81      0.81      0.81       600
weighted avg       0.81      0.81      0.81       600

In [ ]:
#GradientBoosting

In [89]:
from sklearn.ensemble import GradientBoostingRegressor

In [90]:
GB=GradientBoostingRegressor(n_estimators=2)
GB.fit(X,y)
y_predict=GB.predict(X) #ages predicted by model with 2 estimators 
y_predict

array([0.43772799, 0.58082526, 0.43772799, ..., 0.58082526, 0.46717111,
       0.44861287])

In [ ]:
#XGBoost

In [91]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\jahongir\anaconda3\lib\site-packages (1.5.0)
Requirement already satisfied: scipy in c:\users\jahongir\anaconda3\lib\site-packages (from xgboost) (1.6.2)
Requirement already satisfied: numpy in c:\users\jahongir\anaconda3\lib\site-packages (from xgboost) (1.20.1)
Note: you may need to restart the kernel to use updated packages.

In [92]:
import xgboost as xgb

In [93]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)

In [94]:
xg_reg.fit(X_train,y_train)

[16:22:33] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/objective/regression_obj.cu:188: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(alpha=10, base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.3, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.1, max_delta_step=0,
             max_depth=5, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=10, n_jobs=4,
             num_parallel_tree=1, objective='reg:linear', predictor='auto',
             random_state=0, reg_alpha=10, reg_lambda=1, scale_pos_weight=1,
             subsample=1, tree_method='exact', validate_parameters=1,
             verbosity=None)

In [95]:
preds = xg_reg.predict(X_test)

In [96]:
preds

array([0.64370394, 0.6432077 , 0.3742181 , 0.4865164 , 0.5502253 ,
       0.5016366 , 0.3742181 , 0.60014087, 0.63985443, 0.3742181 ,
       0.64370394, 0.58035266, 0.4720233 , 0.43266073, 0.6432077 ,
       0.5177146 , 0.54184806, 0.3742181 , 0.3697767 , 0.36701813,
       0.5748585 , 0.4840045 , 0.5770939 , 0.5243073 , 0.5408438 ,
       0.6568574 , 0.3752224 , 0.5199394 , 0.5393292 , 0.3752224 ,
       0.495386  , 0.3742181 , 0.54184806, 0.5040674 , 0.49756896,
       0.495386  , 0.63318235, 0.58035266, 0.44983196, 0.37697667,
       0.5702726 , 0.36878446, 0.4009565 , 0.54638934, 0.45996642,
       0.5243073 , 0.5408438 , 0.5408438 , 0.3742181 , 0.59738225,
       0.5209437 , 0.3697767 , 0.6558531 , 0.42362723, 0.3752224 ,
       0.586115  , 0.5510233 , 0.5209437 , 0.40371507, 0.4904809 ,
       0.5243073 , 0.586115  , 0.6658785 , 0.586115  , 0.5067563 ,
       0.6432077 , 0.495386  , 0.49439377, 0.64596635, 0.5449114 ,
       0.6558531 , 0.3697767 , 0.3742181 , 0.6568574 , 0.3697767 ,
       0.45996642, 0.6658785 , 0.65018034, 0.6432077 , 0.6275096 ,
       0.3697767 , 0.52093166, 0.6658785 , 0.586115  , 0.5374905 ,
       0.46781018, 0.495386  , 0.3742181 , 0.5916092 , 0.6227996 ,
       0.5199394 , 0.45447227, 0.47524926, 0.5449114 , 0.6447082 ,
       0.3636648 , 0.586115  , 0.51817304, 0.52428496, 0.37697667,
       0.5449114 , 0.64035064, 0.49439377, 0.3636648 , 0.6432077 ,
       0.6432077 , 0.37313002, 0.46409237, 0.3752224 , 0.3752224 ,
       0.49756896, 0.3697767 , 0.62380385, 0.4009565 , 0.3742181 ,
       0.3742181 , 0.37697667, 0.6308333 , 0.49439377, 0.6275096 ,
       0.44044143, 0.49615362, 0.36701813, 0.48001784, 0.5916092 ,
       0.6432077 , 0.3742181 , 0.49756896, 0.36701813, 0.54184806,
       0.6568574 , 0.54638934, 0.65018034, 0.3697767 , 0.6432077 ,
       0.3752224 , 0.56394047, 0.49857324, 0.6558531 , 0.6166997 ,
       0.49756896, 0.63318235, 0.54473114, 0.3742181 , 0.4762415 ,
       0.6658785 , 0.5243073 , 0.6432077 , 0.46133378, 0.6658785 ,
       0.51817304, 0.6558531 , 0.4009565 , 0.36878446, 0.3697767 ,
       0.5191773 , 0.5016366 , 0.49857324, 0.6220375 , 0.6275096 ,
       0.49756896, 0.6227996 , 0.48551208, 0.5243073 , 0.63220215,
       0.586115  , 0.63494873, 0.5585385 , 0.5544231 , 0.5243073 ,
       0.6166997 , 0.56394047, 0.5040674 , 0.63594097, 0.6275096 ,
       0.4009565 , 0.54184806, 0.586115  , 0.49439377, 0.4009565 ,
       0.46781018, 0.6658785 , 0.6432077 , 0.36878446, 0.5748585 ,
       0.46781018, 0.6227996 , 0.36878446, 0.4009565 , 0.6658785 ,
       0.4009565 , 0.4862669 , 0.63985443, 0.45078048, 0.6432077 ,
       0.42362723, 0.586115  , 0.6432077 , 0.6658785 , 0.5374905 ,
       0.3742181 , 0.36701813, 0.4009565 , 0.5016366 , 0.6210332 ,
       0.63694525, 0.49262738, 0.37697667, 0.3742181 , 0.6227996 ,
       0.6413549 , 0.6210332 , 0.6658785 , 0.54767   , 0.4343295 ,
       0.5209437 , 0.48927408, 0.4009565 , 0.48350832, 0.61229   ,
       0.37697667, 0.6237918 , 0.3697767 , 0.3718691 , 0.36878446,
       0.5243073 , 0.64035064, 0.48750862, 0.49439377, 0.5071308 ,
       0.45148137, 0.45447227, 0.36701813, 0.54473114, 0.36701813,
       0.5040674 , 0.4009565 , 0.6658785 , 0.495386  , 0.49439377,
       0.65018034, 0.495386  , 0.50883436, 0.6432077 , 0.49756896,
       0.5408438 , 0.45447227, 0.36701813, 0.63494873, 0.5748585 ,
       0.64370394, 0.58035266, 0.49439377, 0.6658785 , 0.495386  ,
       0.63494873, 0.5152981 , 0.49756896, 0.48001784, 0.52528924,
       0.3935355 , 0.49756896, 0.64931965, 0.37598443, 0.3742181 ,
       0.48065117, 0.56758213, 0.3742181 , 0.6176799 , 0.45447227,
       0.3752224 , 0.49756896, 0.3742181 , 0.6568574 , 0.5374905 ,
       0.48102215, 0.45447227, 0.5209437 , 0.5770939 , 0.48350832,
       0.3742181 , 0.49439377, 0.63694525, 0.5449114 , 0.52718   ,
       0.6112978 , 0.3697767 , 0.6432077 , 0.3742181 , 0.36878446,
       0.495386  , 0.43768284, 0.59914863, 0.3697767 , 0.44983196,
       0.50306314, 0.6449741 , 0.49756896, 0.37698874, 0.6658785 ,
       0.48001784, 0.6658785 , 0.36878446, 0.5568803 , 0.580803  ,
       0.6658785 , 0.49439377, 0.54473114, 0.5408438 , 0.5916092 ,
       0.3752224 , 0.5209437 , 0.6658785 , 0.40371507, 0.495386  ,
       0.5243073 , 0.36878446, 0.49439377, 0.6658785 , 0.495386  ,
       0.6658785 , 0.6535041 , 0.46409237, 0.6658785 , 0.6658785 ,
       0.5209437 , 0.5449114 , 0.59738225, 0.36878446, 0.39789313,
       0.49262738, 0.48350832, 0.5408438 , 0.5243073 , 0.3742181 ,
       0.59402895, 0.63220215, 0.64370394, 0.49756896, 0.36878446,
       0.52093166, 0.6166997 , 0.5748585 , 0.6432077 , 0.49756896,
       0.6432077 , 0.51817304, 0.36878446, 0.36878446, 0.6658785 ,
       0.6449741 , 0.4009565 , 0.43768284, 0.6237918 , 0.6432077 ,
       0.59914863, 0.5817952 , 0.6449741 , 0.55352193, 0.3742181 ,
       0.49756896, 0.6658785 , 0.3636648 , 0.6658785 , 0.46781018,
       0.5243073 , 0.49756896, 0.6658785 , 0.5243073 , 0.48001784,
       0.495386  , 0.3697767 , 0.51817304, 0.59738225, 0.4343295 ,
       0.58035266, 0.3697767 , 0.60014087, 0.6625252 , 0.48001784,
       0.49857324, 0.36878446, 0.4009565 , 0.3742181 , 0.51817304,
       0.65018034, 0.4009565 , 0.586115  , 0.4009565 , 0.49756896,
       0.5568803 , 0.36878446, 0.3752224 , 0.50774854, 0.4009565 ,
       0.48001784, 0.3697767 , 0.4394492 , 0.48527467, 0.45700023,
       0.59738225, 0.586115  , 0.54638934, 0.64596635, 0.48139665,
       0.3752224 , 0.4009565 , 0.6432077 , 0.6095314 , 0.47448722,
       0.64370394, 0.4734829 , 0.6658785 , 0.60014087, 0.6658785 ,
       0.38968885, 0.52718   , 0.63694525, 0.64370394, 0.3742181 ,
       0.5748585 , 0.3742181 , 0.4928003 , 0.4009565 , 0.37697667,
       0.3697767 , 0.3697767 , 0.48102215, 0.48927408, 0.4009565 ,
       0.36878446, 0.52428496, 0.45996642, 0.42362723, 0.46310014,
       0.49756896, 0.49756896, 0.65018034, 0.58035266, 0.51817304,
       0.3697767 , 0.64035064, 0.54473114, 0.3935355 , 0.3697767 ,
       0.49439377, 0.64596635, 0.52193594, 0.56394047, 0.52206033,
       0.6237918 , 0.37798098, 0.3742181 , 0.5916092 , 0.5191773 ,
       0.63594097, 0.495386  , 0.65018034, 0.5449114 , 0.6658785 ,
       0.5020165 , 0.6432077 , 0.48350832, 0.64596635, 0.5916092 ,
       0.6275096 , 0.6432077 , 0.64035064, 0.45898476, 0.5408438 ,
       0.62380385, 0.5521877 , 0.6558531 , 0.3752224 , 0.5374905 ,
       0.4009565 , 0.63318235, 0.49262738, 0.5582996 , 0.37697667,
       0.49439377, 0.3742181 , 0.54638934, 0.538619  , 0.52718   ,
       0.5449114 , 0.36701813, 0.5071308 , 0.3636648 , 0.36701813,
       0.6625252 , 0.3697767 , 0.5243073 , 0.52718   , 0.3752224 ,
       0.4009565 , 0.5815838 , 0.5374905 , 0.3697767 , 0.49756896,
       0.37798098, 0.52718   , 0.6210332 , 0.586115  , 0.6658785 ,
       0.36878446, 0.48001784, 0.64596635, 0.3752224 , 0.49756896,
       0.4343295 , 0.6568574 , 0.45447227, 0.36701813, 0.36701813,
       0.3636648 , 0.4009565 , 0.46410444, 0.54184806, 0.6658785 ,
       0.6275096 , 0.3697767 , 0.37698874, 0.5191773 , 0.4009565 ,
       0.4070684 , 0.5770939 , 0.6658785 , 0.3752224 , 0.3742181 ,
       0.6432077 , 0.52428496, 0.495386  , 0.3742181 , 0.6658785 ,
       0.49262738, 0.3697767 , 0.6658785 , 0.3697767 , 0.45447227,
       0.6432077 , 0.36878446, 0.6156433 , 0.48001784, 0.3697767 ,
       0.52428496, 0.36878446, 0.54473114, 0.48102215, 0.59738225,
       0.3742181 , 0.64931965, 0.48527467, 0.39688882, 0.495386  ,
       0.6568574 , 0.495386  , 0.5243073 , 0.6658785 , 0.4772458 ,
       0.36701813, 0.3742181 , 0.42362723, 0.36701813, 0.6568574 ,
       0.59738225, 0.5243073 , 0.6432077 , 0.6658785 , 0.48927408,
       0.5916092 , 0.40371507, 0.5029708 , 0.51817304, 0.6658785 ,
       0.586115  , 0.5748585 , 0.40371507, 0.5770939 , 0.4202739 ,
       0.3752224 , 0.36701813, 0.49756896, 0.48551208, 0.59402895,
       0.5449114 , 0.4070684 , 0.48350832, 0.48650432, 0.3697767 ,
       0.56943464, 0.3813343 , 0.5209437 , 0.5748585 , 0.5748585 ,
       0.495386  , 0.3636648 , 0.4009565 , 0.5502253 , 0.3697767 ],
      dtype=float32)

In [97]:
xg_reg.score(X_test,y_test)

0.1862922790729996