In [1]:
import pandas as pd
df=pd.read_csv('project_data.csv',sep=';')

C:\Users\Jahongir\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (902,921,1071,1074,1085,1087,1088,1098,1099,1100,1117) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
#picking out the main and needed variables
df=df[['Worker','Q501','Educ_3categ_from201','Q102','UrbanRural','ageYr',
       'Q702','Q803','fjobexist','ageeducleft','fmarrlegYYYY','childexist','agelefthome','educToWork','HaveBeenAbroad']]

In [3]:
df

,Worker,Q501,Educ_3categ_from201,Q102,UrbanRural,ageYr,Q702,Q803,fjobexist,ageeducleft,fmarrlegYYYY,childexist,agelefthome,educToWork,HaveBeenAbroad
0,2,3,3,2,1,24,99,1,0,"18,5",2011,1,"18,5833339691162",,2
1,2,3,1,2,1,24,99,2,0,"17,1666660308838",2013,1,"21,6666660308838",,2
2,2,1,3,2,1,28,99,1,1,"23,3333339691162",,0,,3,2
3,2,3,3,2,1,31,99,2,1,"21,5",2010,0,25,30,2
4,2,3,3,2,1,25,99,3,0,"20,8333339691162",2014,1,"23,0833339691162",,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1,3,2,2,1,27,99,2,1,20,2010,1,"21,1666660308838",33,2
1996,1,1,1,1,2,23,,2,1,"18,0833339691162",,0,,0,2
1997,1,3,3,1,2,31,,2,1,"21,8333339691162",2010,1,"17,0833339691162",0,1
1998,1,3,3,1,2,30,,1,1,"25,3333339691162",2016,0,"18,0833339691162",24,2
1999,1,3,1,2,2,21,2,2,1,"19,1666660308838",2014,1,"19,5833339691162",9,2

In [4]:
#dropping the "no answers"
df.dropna(inplace=True,axis=0)

In [5]:
#renaming the variables
df.rename(columns={'Q702':'wearHijab','Educ_3categ_from201':'edlevel',
                   'Q803':'health','Q102':'Gender'}, inplace=True)

In [6]:
#finding the empty or missing values
df.isnull().sum()

Worker            0
Q501              0
edlevel           0
Gender            0
UrbanRural        0
ageYr             0
wearHijab         0
health            0
fjobexist         0
ageeducleft       0
fmarrlegYYYY      0
childexist        0
agelefthome       0
educToWork        0
HaveBeenAbroad    0
dtype: int64

In [7]:
#defining the correlation between the variables
df.corr()

,Worker,Q501,edlevel,Gender,UrbanRural,ageYr,health,fjobexist,childexist,HaveBeenAbroad
Worker,1.000000,-0.073569,-0.323764,0.172026,0.056298,-0.247759,0.138029,-0.533739,-0.078068,-0.052510
Q501,-0.073569,1.000000,0.122178,0.158964,-0.014888,0.447059,0.057600,0.044359,0.681221,-0.027302
edlevel,-0.323764,0.122178,1.000000,-0.194398,-0.131578,0.513776,-0.071834,0.346593,0.138983,0.052083
Gender,0.172026,0.158964,-0.194398,1.000000,-0.042977,-0.095354,0.029528,-0.422441,0.149372,0.135158
UrbanRural,0.056298,-0.014888,-0.131578,-0.042977,1.000000,-0.058697,0.065769,-0.048717,-0.028924,-0.034708
ageYr,-0.247759,0.447059,0.513776,-0.095354,-0.058697,1.000000,0.046416,0.279469,0.505490,-0.045511
health,0.138029,0.057600,-0.071834,0.029528,0.065769,0.046416,1.000000,-0.084341,0.035702,0.013206
fjobexist,-0.533739,0.044359,0.346593,-0.422441,-0.048717,0.279469,-0.084341,1.000000,0.022049,-0.122682
childexist,-0.078068,0.681221,0.138983,0.149372,-0.028924,0.505490,0.035702,0.022049,1.000000,-0.001218
HaveBeenAbroad,-0.052510,-0.027302,0.052083,0.135158,-0.034708,-0.045511,0.013206,-0.122682,-0.001218,1.000000

In [8]:
#recoding into dummy variables
df.at[df['Worker']==1,'isWorker']=1
df.at[df['Worker']==2,'isWorker']=0

In [9]:
#defining a dependent variable
y=df['isWorker']

In [10]:
df.at[df['UrbanRural']==1,'Urban']=1
df.at[df['UrbanRural']==2,'Urban']=0

In [11]:
df['married'] = df['Q501'].replace((1,2,3,4,5,6),(0,0,1,0,0,0))
df['married'].value_counts()

1    1326
0     674
Name: married, dtype: int64

In [12]:
df['BeenAbroad'] = df['HaveBeenAbroad'].replace((2, 3),(0,1))
df['BeenAbroad'].value_counts()

0    1535
1     465
Name: BeenAbroad, dtype: int64

In [13]:
df['isFemale'] = df['Gender'].replace((1, 2),(0,1))
df['isFemale'].value_counts()

0    1004
1     996
Name: isFemale, dtype: int64

In [14]:
df['BeenAbroad']

0       0
1       0
2       0
3       0
4       0
       ..
1995    0
1996    0
1997    1
1998    0
1999    0
Name: BeenAbroad, Length: 2000, dtype: int64

In [15]:
df['health'].value_counts()

2    944
1    790
3    241
4     24
5      1
Name: health, dtype: int64

In [16]:
df['healthy'] = df['health'].replace((1,2,3,4,5),(1,1,1,0,0))
df['healthy'].value_counts()

1    1975
0      25
Name: healthy, dtype: int64

In [17]:
education = pd.get_dummies(df["edlevel"], prefix="educlevel", dummy_na=False)
education

      educlevel_1  educlevel_2  educlevel_3
0               0            0            1
1               1            0            0
2               0            0            1
3               0            0            1
4               0            0            1
...           ...          ...          ...
1995            0            1            0
1996            1            0            0
1997            0            0            1
1998            0            0            1
1999            1            0            0

[2000 rows x 3 columns]

In [18]:
df = pd.concat([df, education], axis=1)

In [19]:
#defining independent variable
X=df[['childexist','Urban',
      'isFemale','BeenAbroad',
      'educlevel_1','educlevel_2','educlevel_3',
      'healthy','ageYr','fjobexist','married']]

In [20]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   childexist   2000 non-null   int64
 1   Urban        2000 non-null   float64
 2   isFemale     2000 non-null   int64
 3   BeenAbroad   2000 non-null   int64
 4   educlevel_1  2000 non-null   uint8
 5   educlevel_2  2000 non-null   uint8
 6   educlevel_3  2000 non-null   uint8
 7   healthy      2000 non-null   int64
 8   ageYr        2000 non-null   int64
 9   fjobexist    2000 non-null   int64
 10  married      2000 non-null   int64
dtypes: float64(1), int64(7), uint8(3)
memory usage: 211.0 KB

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
#splitting dataset into training set and test set
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [23]:
#Linear Regression

In [24]:
from sklearn.linear_model import LinearRegression

In [25]:
#instantiate the model
linreg = LinearRegression()

In [26]:
#fit the model using the training data
linreg.fit(X_train,y_train)

LinearRegression()

In [27]:
y_pred = linreg.predict(X_test)

In [28]:
print(y_pred.shape)
print(X_test.shape)
print(X_train.shape)
print(y_test.shape)
print(y_train.shape)

(600,)
(600, 11)
(1400, 11)
(600,)
(1400,)

In [29]:
r2=linreg.score(X_test,y_test)

In [30]:
import statsmodels.api as sm
model = sm.OLS(y,X)

In [31]:
result=model.fit()

In [32]:
r2=result.rsquared
r2

0.40054752385502235

In [33]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               isWorker   R-squared:                       0.401
Model:                            OLS   Adj. R-squared:                  0.398
Method:                 Least Squares   F-statistic:                     132.9
Date:                Thu, 27 Jan 2022   Prob (F-statistic):          1.01e-212
Time:                        09:59:27   Log-Likelihood:                -937.14
No. Observations:                2000   AIC:                             1896.
Df Residuals:                    1989   BIC:                             1958.
Df Model:                          10
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
childexist      0.0115      0.027      0.419      0.675      -0.042       0.065
Urban          -0.0234      0.020     -1.176      0.240      -0.062       0.016
isFemale       -0.0724      0.021     -3.398      0.001      -0.114      -0.031
BeenAbroad     -0.4253      0.025    -16.893      0.000      -0.475      -0.376
educlevel_1    -0.0759      0.104     -0.730      0.466      -0.280       0.128
educlevel_2    -0.0475      0.112     -0.424      0.672      -0.267       0.172
educlevel_3    -0.0212      0.113     -0.187      0.852      -0.243       0.201
healthy         0.0739      0.079      0.942      0.346      -0.080       0.228
ageYr           0.0088      0.003      2.815      0.005       0.003       0.015
fjobexist       0.6388      0.022     28.510      0.000       0.595       0.683
married         0.0058      0.027      0.214      0.830      -0.047       0.059
==============================================================================
Omnibus:                        1.794   Durbin-Watson:                   1.279
Prob(Omnibus):                  0.408   Jarque-Bera (JB):                1.780
Skew:                           0.020   Prob(JB):                        0.411
Kurtosis:                       3.141   Cond. No.                         576.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [34]:
#Logistic Regression

In [35]:
from sklearn.linear_model import LogisticRegression

In [36]:
logreg = LogisticRegression()

In [37]:
logreg.fit(X_train,y_train)

C:\Users\Jahongir\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [38]:
y_pred = logreg.predict(X_test)

In [39]:
a=logreg.score(X_test,y_test)

In [40]:
a

0.79

In [41]:
#model diagnostics
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix

array([[222,  50],
       [ 76, 252]], dtype=int64)

In [42]:
#Desicion Tree

In [43]:
from sklearn.tree import DecisionTreeClassifier
model_tree = DecisionTreeClassifier(max_depth=4)
model_tree.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=4)

In [44]:
y_pred = model_tree.predict(X_test)

In [45]:
from sklearn.metrics import accuracy_score
c=accuracy_score(y_test, y_pred)
c

0.765

In [46]:
#Random Forest

In [47]:
from sklearn.ensemble import RandomForestClassifier

In [48]:
forest = RandomForestClassifier(criterion='gini',
                                 n_estimators=10,
                                 random_state=1,
                                 n_jobs=2)

In [49]:
forest.fit(X_train, y_train)
y_pred = forest.predict(X_test)
d= accuracy_score(y_test, y_pred)
d

0.7416666666666667

In [50]:
#kNN

In [51]:
from sklearn.preprocessing import StandardScaler 
sc = StandardScaler() 
X_train = sc.fit_transform (X_train) 
X_test = sc.transform (X_test)

In [52]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=10)
knn.fit(X_train, y_train)
e=knn.score(X_test, y_test)
e

0.745

In [53]:
y_pred = knn.predict (X_test)

In [54]:
from sklearn.metrics import confusion_matrix, precision_score 
cm = confusion_matrix (y_test, y_pred) 
print(cm)

[[204  68]
 [ 85 243]]

In [55]:
#SVC

In [56]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='poly', degree=8)
svclassifier.fit(X_train, y_train)

SVC(degree=8, kernel='poly')

In [57]:
y_pred = svclassifier.predict(X_test)

In [58]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[202  70]
 [ 72 256]]
              precision    recall  f1-score   support

         0.0       0.74      0.74      0.74       272
         1.0       0.79      0.78      0.78       328

    accuracy                           0.76       600
   macro avg       0.76      0.76      0.76       600
weighted avg       0.76      0.76      0.76       600

In [59]:
f=svclassifier.score(X_test,y_test)
f

0.7633333333333333

In [60]:
#GradientBoosting

In [61]:
from sklearn.ensemble import GradientBoostingRegressor

In [62]:
GB=GradientBoostingRegressor(n_estimators=2)
GB.fit(X,y)
y_pred=GB.predict(X) #ages predicted by model with 2 estimators 
y_pred

array([0.43772799, 0.43772799, 0.60026428, ..., 0.52513824, 0.60026428,
       0.58082526])

In [63]:
g=GB.score(X_test,y_test)
g

0.13691647034048804

In [64]:
#XGBoost

In [65]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\jahongir\anaconda3\lib\site-packages (1.5.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy in c:\users\jahongir\anaconda3\lib\site-packages (from xgboost) (1.20.1)
Requirement already satisfied: scipy in c:\users\jahongir\anaconda3\lib\site-packages (from xgboost) (1.6.2)

In [66]:
import xgboost as xgb

In [67]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)

In [68]:
xg_reg.fit(X_train,y_train)

[09:59:58] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/objective/regression_obj.cu:188: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(alpha=10, base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.3, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.1, max_delta_step=0,
             max_depth=5, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=10, n_jobs=4,
             num_parallel_tree=1, objective='reg:linear', predictor='auto',
             random_state=0, reg_alpha=10, reg_lambda=1, scale_pos_weight=1,
             subsample=1, tree_method='exact', validate_parameters=1,
             verbosity=None)

In [69]:
preds = xg_reg.predict(X_test)

In [70]:
preds

array([0.61299187, 0.48186588, 0.5090969 , 0.37134635, 0.6235591 ,
       0.46474665, 0.46927598, 0.531833  , 0.3629291 , 0.531833  ,
       0.36692658, 0.63592976, 0.531833  , 0.3629291 , 0.38566512,
       0.4978858 , 0.5239916 , 0.6418409 , 0.6585499 , 0.6418409 ,
       0.49015936, 0.6418409 , 0.515887  , 0.3629291 , 0.6331372 ,
       0.48186588, 0.515887  , 0.4815159 , 0.38566512, 0.37065557,
       0.47153676, 0.6392734 , 0.3697192 , 0.37813646, 0.3629291 ,
       0.37534383, 0.6418409 , 0.5215117 , 0.3629291 , 0.38566512,
       0.5088979 , 0.5920376 , 0.5090969 , 0.5462336 , 0.64548844,
       0.55726564, 0.531833  , 0.51682335, 0.37465304, 0.6585499 ,
       0.66725355, 0.4007588 , 0.58211714, 0.38566512, 0.37534383,
       0.6331372 , 0.531833  , 0.6169894 , 0.37534383, 0.5092715 ,
       0.51682335, 0.50536895, 0.66725355, 0.37534383, 0.58211714,
       0.66725355, 0.53174615, 0.52679396, 0.4483768 , 0.5469267 ,
       0.5088979 , 0.3629291 , 0.58211714, 0.6446334 , 0.37534383,
       0.3629291 , 0.5417294 , 0.4304354 , 0.5088979 , 0.6418409 ,
       0.3697192 , 0.3629291 , 0.47929135, 0.5243043 , 0.6167691 ,
       0.62065077, 0.6291397 , 0.5090969 , 0.3629291 , 0.66725355,
       0.5243043 , 0.6291397 , 0.37534383, 0.37134635, 0.66725355,
       0.6545524 , 0.5239916 , 0.5215117 , 0.515887  , 0.6138607 ,
       0.5088979 , 0.3697192 , 0.3629291 , 0.515887  , 0.48186588,
       0.39233932, 0.55726564, 0.3697192 , 0.4985766 , 0.3629291 ,
       0.37065557, 0.5734135 , 0.37465304, 0.6545524 , 0.38566512,
       0.38566512, 0.37465304, 0.5090969 , 0.47926322, 0.66725355,
       0.6418409 , 0.38566512, 0.36692658, 0.38566512, 0.45701432,
       0.54406595, 0.3629291 , 0.5953443 , 0.49015936, 0.4902753 ,
       0.6207666 , 0.59882766, 0.5088979 , 0.60903305, 0.38566512,
       0.5130944 , 0.49123976, 0.66725355, 0.6167691 , 0.66725355,
       0.58211714, 0.3629291 , 0.6418409 , 0.58211714, 0.55724573,
       0.5088979 , 0.37534383, 0.5130944 , 0.64617926, 0.48186588,
       0.6207666 , 0.37744567, 0.37534383, 0.49015936, 0.5088979 ,
       0.46916473, 0.5130944 , 0.6585499 , 0.38166764, 0.63592976,
       0.37465304, 0.4978858 , 0.3629291 , 0.38566512, 0.61299187,
       0.5088979 , 0.6235591 , 0.531833  , 0.3629291 , 0.6167691 ,
       0.5424202 , 0.37465304, 0.61785823, 0.58211714, 0.54800075,
       0.6585499 , 0.56588906, 0.66725355, 0.37534383, 0.58211714,
       0.6291397 , 0.3629291 , 0.51751417, 0.36692658, 0.55726564,
       0.6585499 , 0.51682335, 0.6585499 , 0.6432709 , 0.5130944 ,
       0.66725355, 0.37465304, 0.5904104 , 0.48186588, 0.50633115,
       0.38566512, 0.3697192 , 0.37465304, 0.5239916 , 0.5898717 ,
       0.6585499 , 0.37534383, 0.5243043 , 0.37534383, 0.6418409 ,
       0.3629291 , 0.4877086 , 0.51751417, 0.3629291 , 0.3629291 ,
       0.6418409 , 0.6331372 , 0.42617154, 0.6228683 , 0.38566512,
       0.55479085, 0.3629291 , 0.43657297, 0.55726564, 0.531833  ,
       0.37134635, 0.515887  , 0.3629291 , 0.479954  , 0.5734135 ,
       0.6169894 , 0.5349393 , 0.47153676, 0.5090969 , 0.45701432,
       0.61785823, 0.6235591 , 0.6378434 , 0.5346256 , 0.66725355,
       0.55724573, 0.3629291 , 0.5090969 , 0.6585499 , 0.3629291 ,
       0.3697192 , 0.5239916 , 0.66725355, 0.41107786, 0.5088979 ,
       0.55479085, 0.38566512, 0.61785823, 0.5088979 , 0.55724573,
       0.3629291 , 0.49015936, 0.4304354 , 0.37534383, 0.47926322,
       0.5239916 , 0.38566512, 0.5734135 , 0.6418409 , 0.5130944 ,
       0.4731622 , 0.5960351 , 0.38566512, 0.5243043 , 0.5215117 ,
       0.66325605, 0.5469267 , 0.3629291 , 0.55724573, 0.37465304,
       0.64617926, 0.6432709 , 0.3629291 , 0.66725355, 0.5920376 ,
       0.61785823, 0.38566512, 0.47153676, 0.6585499 , 0.5254433 ,
       0.6392734 , 0.5088979 , 0.4902753 , 0.515887  , 0.6167691 ,
       0.56016874, 0.5239916 , 0.6331372 , 0.38566512, 0.6331372 ,
       0.5090969 , 0.66725355, 0.4978858 , 0.63592976, 0.4877086 ,
       0.61785823, 0.37465304, 0.66725355, 0.6378434 , 0.55726564,
       0.6418409 , 0.37534383, 0.64240205, 0.5088979 , 0.45701432,
       0.66725355, 0.37534383, 0.515887  , 0.515887  , 0.5090969 ,
       0.4902753 , 0.66725355, 0.5278355 , 0.4731622 , 0.5243043 ,
       0.5092715 , 0.55724573, 0.6291397 , 0.6378434 , 0.5557553 ,
       0.48186588, 0.6418409 , 0.5469244 , 0.47153676, 0.46010074,
       0.5088979 , 0.5913468 , 0.3629291 , 0.6585499 , 0.37465304,
       0.42617154, 0.4635841 , 0.5090969 , 0.38566512, 0.38566512,
       0.6418409 , 0.4007588 , 0.38566512, 0.37534383, 0.6331372 ,
       0.5734135 , 0.3697192 , 0.6138607 , 0.3629291 , 0.6331372 ,
       0.5469267 , 0.3629291 , 0.6169894 , 0.515887  , 0.43536928,
       0.5090969 , 0.39233932, 0.5581345 , 0.51751417, 0.3629291 ,
       0.6585499 , 0.5130944 , 0.6169894 , 0.5462336 , 0.531833  ,
       0.37465304, 0.49857885, 0.5090969 , 0.37534383, 0.46010074,
       0.41107786, 0.66725355, 0.38566512, 0.4902753 , 0.4007588 ,
       0.5581345 , 0.58211714, 0.4731622 , 0.6418409 , 0.63592976,
       0.58116806, 0.6214478 , 0.6418409 , 0.5960351 , 0.6228683 ,
       0.5734135 , 0.5090969 , 0.5088979 , 0.65575176, 0.55726564,
       0.5239916 , 0.6174503 , 0.55724573, 0.5734135 , 0.51665246,
       0.6291397 , 0.66725355, 0.3697192 , 0.4902753 , 0.37534383,
       0.56588906, 0.5734135 , 0.66725355, 0.3629291 , 0.38566512,
       0.46916473, 0.36692658, 0.4007588 , 0.4007588 , 0.56104285,
       0.3697192 , 0.66325605, 0.5469267 , 0.37465304, 0.5469267 ,
       0.3629291 , 0.40708038, 0.6585499 , 0.531833  , 0.4731622 ,
       0.6167595 , 0.37534383, 0.49802986, 0.48242697, 0.6378434 ,
       0.4985766 , 0.5243043 , 0.66725355, 0.4877086 , 0.55724573,
       0.5090969 , 0.64548844, 0.515887  , 0.4731622 , 0.4731639 ,
       0.5734135 , 0.5239916 , 0.63592976, 0.37465304, 0.6291397 ,
       0.64149094, 0.36692658, 0.38566512, 0.37065557, 0.4985766 ,
       0.5318529 , 0.3629291 , 0.5243043 , 0.37534383, 0.4902753 ,
       0.5723394 , 0.38566512, 0.4877086 , 0.52361345, 0.5088979 ,
       0.4902753 , 0.6585499 , 0.6378434 , 0.5088979 , 0.6378434 ,
       0.515887  , 0.5088979 , 0.6418409 , 0.5898717 , 0.39233932,
       0.4007588 , 0.3960683 , 0.3697192 , 0.41107786, 0.4304354 ,
       0.37465304, 0.66725355, 0.5090969 , 0.531833  , 0.3629291 ,
       0.4784462 , 0.3629291 , 0.5088979 , 0.5090969 , 0.6418409 ,
       0.36692658, 0.5239916 , 0.4731622 , 0.4007588 , 0.52082086,
       0.6235591 , 0.66725355, 0.62065077, 0.47153676, 0.5092715 ,
       0.515887  , 0.3697192 , 0.3629291 , 0.5363114 , 0.36692658,
       0.6585499 , 0.4978858 , 0.5723394 , 0.47153676, 0.47929135,
       0.37534383, 0.66725355, 0.37534383, 0.6174503 , 0.3697192 ,
       0.6331372 , 0.38566512, 0.5215117 , 0.58211714, 0.6418409 ,
       0.6169894 , 0.5567044 , 0.4007588 , 0.66725355, 0.47595477,
       0.53174615, 0.37534383, 0.3697192 , 0.4902753 , 0.5960351 ,
       0.6235591 , 0.36692658, 0.3629291 , 0.5723394 , 0.5088979 ,
       0.6585499 , 0.37065557, 0.6418409 , 0.37465304, 0.37534383,
       0.49857885, 0.4902753 , 0.49015936, 0.37534383, 0.5130944 ,
       0.58211714, 0.6169894 , 0.48186588, 0.4007588 , 0.5090969 ,
       0.5386231 , 0.6418409 , 0.66725355, 0.38566512, 0.5090969 ,
       0.38566512, 0.5243043 , 0.36692658, 0.61785823, 0.5247525 ,
       0.3629291 , 0.37534383, 0.6378434 , 0.6418409 , 0.6207666 ,
       0.38566512, 0.6432709 , 0.3629291 , 0.3629291 , 0.47153676,
       0.5090969 , 0.62007576, 0.66725355, 0.3629291 , 0.65575176,
       0.38566512, 0.6169894 , 0.58211714, 0.37534383, 0.36692658,
       0.515887  , 0.6585499 , 0.38566512, 0.38566512, 0.45610327,
       0.55724573, 0.5013812 , 0.5417294 , 0.5239916 , 0.55726564,
       0.5581345 , 0.47153676, 0.6235591 , 0.62007576, 0.5090969 ,
       0.6331372 , 0.6169894 , 0.560352  , 0.6378434 , 0.6228683 ,
       0.53850716, 0.5215117 , 0.5088979 , 0.5239916 , 0.5429269 ,
       0.6545524 , 0.38566512, 0.5960351 , 0.5898717 , 0.58211714,
       0.48465845, 0.5243043 , 0.66725355, 0.46916473, 0.47153676],
      dtype=float32)

In [71]:
h=xg_reg.score(X_test,y_test)
h

0.1811944888860314

In [72]:
print('Linear Regression score:', r2) 
print('Logistic Regression score:', a)
print('Decision Tree Accuracy score:', c)
print('Random Forest Accuraccy score:',d)
print('KNN score:',e)
print('SVC Classifier score:',f)
print('Gradient Boosting score:',g)
print('XGBoost score:',h)

Linear Regression score: 0.40054752385502235
Logistic Regression score: 0.79
Decision Tree Accuracy score: 0.765
Random Forest Accuraccy score: 0.7416666666666667
KNN score: 0.745
SVC Classifier score: 0.7633333333333333
Gradient Boosting score: 0.13691647034048804
XGBoost score: 0.1811944888860314